body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  /* Discord-like background color */
  color: #ffffff; /* Discord-like text color */
  margin: 0;
  padding: 0;
  overflow: auto;
}
header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
}

nav ul li a:hover {
  background-color: #555;
}
.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333; /* Change this to the desired background color */
  color: white; /* Change this to the desired text color */
  padding: 10px; /* Adjust the padding as needed */
  z-index: 1000; /* Make sure the menu is above other content */
  
}
/* Default styles for menu */
.menu {
  display: flex;
  justify-content: center;
  background-color: #333;
}

.menu li {
  list-style: none;
}

.menu a {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
}

/* Media query for responsiveness */
@media screen and (max-width: 600px) {
  .menu {
    flex-direction: column;
    align-items: center;
  }

  .menu li {
    margin: 10px 0;
  }
}

#about {
  margin-top: 20%;
}
#contact{
  margin-bottom: 10%;
}
.card {
 
  width: 90%;
  padding: 200px;
  border: 1px solid #a90404;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  margin-right: 0px;
  align-items: center;
  align-self: center;
  align-content: center;
}

.card h2 {
  color: #000000;
  font-size: 1.5rem;
}

.card p {
  color: #000000;
  font-size: 1rem;
}
.background
{
background:url('AF Editions web bg image 1.jpg');
background-size: cover;
background-repeat: repeat-y;
color: #ede7e7;
}
.main{
  align-self: center;
  margin-right: 0%;
}

